@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@media (max-width: 1100px) {
  body .header__div {
    background-image: url(../img/photo1100.png);
  }
  body .header__div--logo {
    width: 151px;
  }
  body .header__div--navigation--title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 353px;
  }
  body .main__container {
    grid-template-columns: 1fr 1fr 1fr !important;
    max-width: 610px !important;
    row-gap: 45px;
    -moz-column-gap: 13px;
         column-gap: 13px;
  }
  .modal__content {
    max-width: 595px !important;
  }
  .modal__content--box--button {
    font-size: 16px !important;
  }
  .modal__content .modal__close {
    left: 553px !important;
  }
  .modal__content .modal__close--svg {
    width: 17px !important;
  }
  .modal__content--img {
    width: 70px !important;
  }
  .modal__content--container {
    max-width: 528px !important;
  }
  .modal__content--container--box {
    max-width: 265px !important;
  }
  .modal__content--container--box--img {
    width: 233px !important;
  }
  .modal__content--container--box--div--title {
    font-size: 20px !important;
  }
  .modal__content--container--box--div--text {
    font-size: 16px !important;
  }
}
@media (max-width: 768px) {
  body .header__div {
    background-image: url(../img/photo768.png) !important;
  }
  body .header__div--logo {
    width: 105px !important;
  }
  body .header__div--navigation--title {
    max-width: 212px !important;
    font-size: 18px !important;
    padding-top: 78px !important;
  }
  body .header__div--navigation--inputs {
    flex-direction: column !important;
    align-items: center !important;
  }
  body .header__div--navigation--inputs--input {
    margin-bottom: 25px !important;
  }
  body .main__container {
    grid-template-columns: 1fr 1fr !important;
    max-width: 280px !important;
    row-gap: 30px !important;
    -moz-column-gap: 4px !important;
         column-gap: 4px !important;
  }
  body .main__container--nav-button1 {
    font-size: 14px !important;
  }
  body .main__container--nav-button2 {
    font-size: 14px !important;
  }
  body .main__container--nav-button3 {
    font-size: 14px !important;
  }
  body .main__container--nav-button4 {
    font-size: 14px !important;
  }
  body .main__container--nav-button5 {
    font-size: 14px !important;
  }
  body .main__container--nav-button6 {
    font-size: 14px !important;
  }
  body .main__container--div--card {
    max-width: 138px !important;
  }
  body .main__container--div--card--h3 {
    font-size: 14px !important;
  }
  body .main__container--div--card--p {
    font-size: 14px !important;
  }
  body .main__container--div--card--p1 {
    font-size: 12px !important;
  }
  body .main__container--div--card--photo--img {
    max-width: 128px !important;
    height: 161px !important;
  }
  body .main__container--div--card--photo--svg {
    padding-left: 29px !important;
  }
  body .main__container--div--card--photo--svg--kartinka {
    max-width: 109px !important;
    padding-bottom: 35px !important;
  }
  body .footer {
    max-width: 252px !important;
    font-size: 14px !important;
  }
  .modal__content {
    max-width: 272px !important;
    border-top-left-radius: 150px !important;
    border-bottom-right-radius: 150px !important;
  }
  .modal__content--box--button {
    padding-left: 3px !important;
    padding-right: 3px !important;
    max-width: 234px !important;
  }
  .modal__content .modal__close {
    left: 230px !important;
  }
  .modal__content--img {
    width: 102px !important;
  }
  .modal__content--container {
    max-width: 243px !important;
    justify-content: center !important;
  }
  .modal__content--container--box {
    align-items: center !important;
    max-width: 243px !important;
  }
  .modal__content--container--box--img {
    display: none !important;
  }
  .modal__content--container--box--div {
    align-items: center !important;
    max-width: 243px !important;
  }
  .modal__content--container--box--div--button {
    margin: 0 auto !important;
  }
  .modal__content--container--box--div--title {
    text-align: center !important;
  }
  .modal__content--container--box--div--text {
    text-align: center !important;
  }
  .modal__content--container--box--div--in {
    max-width: 224 px !important;
    width: 100% !important;
  }
  .modal__content--container--box--div--text1 {
    font-size: 16px !important;
    padding-left: 13px !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.header__div {
  background-image: url(../img/header.png);
  height: 446px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.header__div--rectangle {
  width: 100%;
  height: 102px;
  background: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%);
}
.header__div--logo {
  position: absolute;
}
.header__div--navigation--title {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: #DC56C5;
  max-width: 588.1px;
  margin: 0 auto;
  padding-top: 40px;
}
.header__div--navigation--inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
  padding-top: 52px;
  align-items: start;
}
.header__div--navigation--inputs--input {
  max-width: 270px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
}
.header__div--navigation--inputs--input--texts {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.header__div--navigation--inputs--input--text1 {
  padding: 10px 0 10px 30px;
  border-radius: 20px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
}
.header__div--navigation--inputs--input1 {
  max-width: 270px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
}
.header__div--navigation--inputs--input1--text1 {
  padding: 10px 0 10px 30px;
  border-radius: 20px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
}

main {
  background-color: black;
}
main .main__container {
  width: 100%;
  max-width: 946px;
  margin: 0 auto;
  background-size: cover;
  padding-top: 43px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 55px;
}
main .main__container--div, main .main__container--div1, main .main__container--div2, main .main__container--div3, main .main__container--div4 {
  max-width: 946px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
main .main__container--div.main__container--div1, main .main__container--div1.main__container--div1, main .main__container--div2.main__container--div1, main .main__container--div3.main__container--div1, main .main__container--div4.main__container--div1 {
  padding: 50px 0;
}
main .main__container--div.main__container--div2, main .main__container--div1.main__container--div2, main .main__container--div2.main__container--div2, main .main__container--div3.main__container--div2, main .main__container--div4.main__container--div2 {
  padding-bottom: 50px;
}
main .main__container--div.main__container--div4, main .main__container--div1.main__container--div4, main .main__container--div2.main__container--div4, main .main__container--div3.main__container--div4, main .main__container--div4.main__container--div4 {
  padding: 50px 0 80px;
}
main .main__container--div--card, main .main__container--div1--card, main .main__container--div2--card, main .main__container--div3--card, main .main__container--div4--card {
  max-width: 196px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
main .main__container--div--card--photo--img, main .main__container--div1--card--photo--img, main .main__container--div2--card--photo--img, main .main__container--div3--card--photo--img, main .main__container--div4--card--photo--img {
  padding-top: 13px;
  width: 180px;
  height: 227px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
main .main__container--div--card--photo--svg, main .main__container--div1--card--photo--svg, main .main__container--div2--card--photo--svg, main .main__container--div3--card--photo--svg, main .main__container--div4--card--photo--svg {
  z-index: 1000;
  padding-left: 41px;
  position: absolute;
  padding-bottom: 13px;
}
main .main__container--div--card--h3, main .main__container--div1--card--h3, main .main__container--div2--card--h3, main .main__container--div3--card--h3, main .main__container--div4--card--h3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #DC56C5;
  padding: 5px 0;
}
main .main__container--div--card--p, main .main__container--div1--card--p, main .main__container--div2--card--p, main .main__container--div3--card--p, main .main__container--div4--card--p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: white;
  padding-bottom: 5px;
}
main .main__container--div--card--container, main .main__container--div1--card--container, main .main__container--div2--card--container, main .main__container--div3--card--container, main .main__container--div4--card--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 137px;
  align-items: center;
}
main .main__container--div--card--container--svg, main .main__container--div1--card--container--svg, main .main__container--div2--card--container--svg, main .main__container--div3--card--container--svg, main .main__container--div4--card--container--svg {
  width: 7px;
}
main .main__container--div--card--container--p1, main .main__container--div1--card--container--p1, main .main__container--div2--card--container--p1, main .main__container--div3--card--container--p1, main .main__container--div4--card--container--p1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: white;
  padding-left: 3px;
  width: 127px;
}
main .main__container--nav {
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: end;
}
main .main__container--nav-button1, main .main__container--nav-button2, main .main__container--nav-button3, main .main__container--nav-button4, main .main__container--nav-button5, main .main__container--nav-button6 {
  padding: 5px 12px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-color: rgba(255, 165, 0, 0);
  color: white;
  background-color: rgba(255, 165, 0, 0);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-right: 5px;
}
main .main__container--nav-button1:last-child, main .main__container--nav-button2:last-child, main .main__container--nav-button3:last-child, main .main__container--nav-button4:last-child, main .main__container--nav-button5:last-child, main .main__container--nav-button6:last-child {
  margin-left: 10px;
  margin-right: 0;
}
main .main__container--nav--dot {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: white;
}

.footer {
  margin: 80px auto 19px;
  max-width: 521px;
  width: 100%;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #939393;
}

.main__container--nav {
  margin-top: 80px !important;
}
.main__container--nav button.active {
  border-color: #DC56C5 !important;
  color: #DC56C5 !important;
}
.main__container--nav-button {
  padding: 5px 12px 5px 12px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(255, 165, 0, 0);
  color: white;
  border-color: rgba(255, 165, 0, 0);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: #FFF2FD;
  margin: 0 auto;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
  max-width: 930px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.modal__content--img {
  display: flex;
  margin: 0 auto;
  padding-top: 62px;
}
.modal__content--box {
  margin: 0 auto;
  max-width: 258px;
  padding-top: 45px;
  padding-bottom: 62px;
}
.modal__content--box--button {
  color: #4C00FE;
  background-color: rgba(0, 0, 0, 0);
  border-color: #4C00FE;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.modal__content--box--button:hover {
  border-color: #DC56C5;
}
.modal__content--container {
  margin: 0 auto;
  max-width: 870px;
  padding-top: 41px;
  display: flex;
  justify-content: space-between;
}
.modal__content--container--box {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.modal__content--container--box--div {
  padding-bottom: 20px;
}
.modal__content--container--box--div--in {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 7px;
  padding-bottom: 20px;
}
.modal__content--container--box--div--in1 {
  display: flex;
  justify-content: space-between;
  max-width: 215px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 7px;
  padding-bottom: 20px;
}
.modal__content--container--box--div--button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 19px;
  border: none;
  background-color: #4C00FE;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: left;
}
.modal__content--container--box--div--title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #DC56C5;
}
.modal__content--container--box--div--text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0E0E0E;
  padding-top: 6px;
}

.modal__close {
  position: absolute;
  top: 30px;
  left: 875px;
}

.header__div--navigation--inputs--input2 {
  max-width: 270px;
  width: 100%;
  position: relative;
  z-index: 3;
  font-family: Montserrat;
}
.header__div--navigation--inputs--input2--texts {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
}
.header__div--navigation--inputs--input2--selected {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 10px 30px;
  border-radius: 20px;
  color: rgba(182, 182, 182, 0.6039215686);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.header__div--navigation--inputs--input2--polygon-icon {
  width: 10px;
  height: 6px;
}
.header__div--navigation--inputs--input2--options {
  display: none;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  margin-top: 5px;
  overflow: hidden;
}
.header__div--navigation--inputs--input2--option {
  padding: 10px 30px;
  color: #b6b6b6;
  cursor: pointer;
}
.header__div--navigation--inputs--input2--option:hover {
  background: rgba(255, 255, 255, 0.1);
}
.header__div--navigation--inputs--input2.open .header__div--navigation--inputs--input2--options {
  display: flex;
}