@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'adaptive';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: black ;
}
.header {
  &__div {
    background-image: url(../img/header.png);
    height: 446px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    &--rectangle {
      width: 100%;
      height: 102px;
      background: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%);
    }

    &--logo {
      position: absolute;
    }

    &--navigation {
      &--title {
        font-family: Montserrat;
        font-weight: 900;
        font-size: 50px;
        text-align: center;
        color: #DC56C5;
        max-width: 588.1px;
        margin: 0 auto;
        padding-top: 40px;
      }

      &--inputs {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        padding-top: 52px;

        &--input,
        &--input1 {
          max-width: 270px;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #FFFFFF33;
          backdrop-filter: blur(20px);
          border-radius: 20px;

          &--text {
            padding: 10px 0 10px 30px;
            border-radius: 20px;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            background-color: transparent;
            border: none;
            outline: none;
          }
        }
      }
    }
  }
}

main {
  background-color: black;

  .main__container {
    width: 100%;
    max-width: 946px;
    margin: 0 auto;
    background-size: cover;
    padding-top: 43px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 55px;

    &--div,
    &--div1,
    &--div2,
    &--div3,
    &--div4 {
      max-width: 946px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      &.main__container--div1 { padding: 50px 0; }
      &.main__container--div2 { padding-bottom: 50px; }
      &.main__container--div4 { padding: 50px 0 80px; }

      &--card {
        max-width: 196px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        &--photo {
          &--img {
            padding-top: 13px;
          }

          &--svg {
            z-index: 1000;
            padding-left: 41px;
            position: absolute;
            padding-bottom: 13px;
          }
        }

        &--h3 {
          font-family: Montserrat;
          font-weight: 700;
          font-size: 16px;
          text-align: center;
          color: #DC56C5;
          padding: 5px 0;
        }

        &--p {
          font-family: Montserrat;
          font-weight: 400;
          font-size: 16px;
          text-align: center;
          color: white;
          padding-bottom: 5px;
        }

        &--container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          max-width: 137px;  
          align-items: center;
          &--p1 {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            color: white;
            padding-left: 3px;
          }
        }
      }
    }

    &--nav {
      max-width: 280px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      align-items: end;

      &-button1,
      &-button2,
      &-button3,
      &-button4,
      &-button5,
      &-button6 {
        padding: 5px 12px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-color: rgba(255, 165, 0, 0);
        color: white;
        background-color: rgba(255, 165, 0, 0);
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        margin-right: 5px;

        &:last-child {
          margin-left: 10px;
          margin-right: 0;
        }
      }

      &--dot {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: white;
      }
    }
  }
}

.footer {
  margin: 80px auto 19px;
  max-width: 521px;
  width: 100%;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #939393;
}

.main__container--nav {
  margin-top: 80px !important;
  button.active {
    border-color: #DC56C5 !important;
    color: #DC56C5 !important;
  }
}
.modal {
  display: none; 
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal__content {
  background-color: #FFF2FD; 
  margin: 0 auto;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
  max-width: 930px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  &--img{
    display: flex;
    margin: 0 auto;
    padding-top: 62px;
  }

  &--box{
    margin: 0 auto;
    max-width: 258px;
    padding-top: 45px;
    padding-bottom: 62px;

          &--button{
      color: #4C00FE;
      background-color: rgba(0,0,0,0);
      border-color: #4C00FE;
      border-radius: 5px;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  &--container{
    margin: 0 auto;
    max-width: 870px;
    padding-top: 41px;
    display: flex;
    justify-content: space-between;

    &--box{
      max-width: 450px;
      display: flex;
      flex-direction: column;
      align-items: left;
      &--div{
        
        &--in{
          display: flex;
          justify-content: space-between;
          max-width: 250px;
          font-family: Montserrat;
          font-weight: 400;
          font-size: 18px;
          line-height: 100%;
          letter-spacing: 0%;
          padding-top: 7px;
          padding-bottom: 20px;
        }
            &--button{
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 19px;
              padding-right: 19px;
              border: none;
              background-color: #4C00FE;
              color: white;
              border-radius: 5px;
          }
        padding-bottom: 20px;
              &--title{
                  font-family: Montserrat;
                  font-weight: 600;
                  font-size: 24px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  color: #DC56C5;
                  
              }
              &--text{
                font-family: Montserrat;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #0E0E0E;
                padding-top: 6px;
              }
      }
    }
  }
  
}

.modal__close {
  position: absolute;
  top: 30px;
  left: 875px;
}
