@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header__div{
    background-image: url(../img/header.png);
    height: 446px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    & .header__div--rectangle{

    }
    
    & .header__div--logo{
        position: absolute;
    }

    & .header__div--navigation--title{
        font-family: Montserrat;
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #DC56C5;
        max-width: 588.1px;
        margin: 0 auto;
        padding-top: 40px;
    }
    & .header__div--navigation--inputs{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        padding-top: 52px;

        & .header__div--navigation--inputs--input{
            max-width: 270px;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #FFFFFF33;
            backdrop-filter: blur(20px);
            border-radius: 20px;
            
            & .header__div--navigation--inputs--input--text{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 30px;
                border-radius: 20px;
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                background-color: rgba(255, 255, 255, 0); 
                border: none;
                outline: none;  
            }
        }
        & .header__div--navigation--inputs--input1{
            max-width: 270px;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #FFFFFF33;
            backdrop-filter: blur(20px);
            border-radius: 20px;
            
            & .header__div--navigation--inputs--input--text{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 30px;
                border-radius: 20px;
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                background-color: rgba(255, 255, 255, 0); 
                border: none;
                outline: none;  
            }
        }
    }
}
main{
    & .main__container{
        background-color: black;
        width: 100%;
    }
}