@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: black ;
}
.header__div{
    background-image: url(../img/header.png);
    height: 446px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    & .header__div--rectangle{
        width: 100%;
        height: 102px;
        background: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%);
    }
    
    & .header__div--logo{
        position: absolute;
    }

    & .header__div--navigation--title{
        font-family: Montserrat;
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #DC56C5;
        max-width: 588.1px;
        margin: 0 auto;
        padding-top: 40px;
    }
    & .header__div--navigation--inputs{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        padding-top: 52px;

        & .header__div--navigation--inputs--input{
            max-width: 270px;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #FFFFFF33;
            backdrop-filter: blur(20px);
            border-radius: 20px;
            
            & .header__div--navigation--inputs--input--text{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 30px;
                border-radius: 20px;
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                background-color: rgba(255, 255, 255, 0); 
                border: none;
                outline: none;  
            }
        }
        & .header__div--navigation--inputs--input1{
            max-width: 270px;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #FFFFFF33;
            backdrop-filter: blur(20px);
            border-radius: 20px;
            
            & .header__div--navigation--inputs--input--text{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 30px;
                border-radius: 20px;
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                background-color: rgba(255, 255, 255, 0); 
                border: none;
                outline: none;  
            }
        }
    }
}
main{
    background-color: black;
    & .main__container{
        width: 100%;
        max-width: 946px;
        margin: 0 auto;
        background-size: cover;
        padding-top: 43px;
        
        & .main__container--div{
            max-width: 946px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            & .main__container--div--card{
                max-width: 196px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;

                & .main__container--div--card--photo--img{
                    padding-top: 13px;
                }

                & .main__container--div--card--photo--svg{
                    z-index: 1000;
                    padding-left: 41px;
                    position: absolute;
                }
                
                & .main__container--div--card--h3{
                    font-family: Montserrat;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #DC56C5;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                & .main__container--div--card--p{
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: white;
                    padding-bottom: 5px;
                }
                & .main__container--div--card--container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    & .main__container--div--card--container--p1{
                        font-family: Montserrat;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        text-align: center;
                        color: white;
                        padding-left: 3px;
                    }
                }
            }
        }
        & .main__container--div1{
            max-width: 946px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            padding-bottom: 50px;
            padding-top: 50px;

            & .main__container--div--card{
                max-width: 196px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;

                & .main__container--div--card--photo--img{
                    padding-top: 13px;
                }
                & .main__container--div--card--photo--svg{
                    z-index: 1000;
                    padding-left: 41px;
                    position: absolute;
                    padding-bottom: 13px;
                }
                
                & .main__container--div--card--h3{
                    font-family: Montserrat;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #DC56C5;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                & .main__container--div--card--p{
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: white;
                    padding-bottom: 5px;
                }
                & .main__container--div--card--container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    & .main__container--div--card--container--p1{
                        font-family: Montserrat;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        text-align: center;
                        color: white;
                        padding-left: 3px;
                    }
                }
            }
        }
        & .main__container--div2{
            max-width: 946px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            padding-bottom: 50px;

            & .main__container--div--card{
                max-width: 196px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;

                & .main__container--div--card--photo--img{
                    padding-top: 13px;
                }

                & .main__container--div--card--photo--svg{
                    z-index: 1000;
                    padding-left: 41px;
                    position: absolute;
                }
                
                & .main__container--div--card--h3{
                    font-family: Montserrat;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #DC56C5;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                & .main__container--div--card--p{
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: white;
                    padding-bottom: 5px;
                }
                & .main__container--div--card--container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    & .main__container--div--card--container--p1{
                        font-family: Montserrat;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        text-align: center;
                        color: white;
                        padding-left: 3px;
                    }
                }
            }
        }
        & .main__container--div3{
            max-width: 946px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            & .main__container--div--card--photo--img{
                    padding-top: 13px;
                }

            & .main__container--div--card{
                max-width: 196px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;


                & .main__container--div--card--photo--svg{
                    z-index: 1000;
                    padding-left: 41px;
                    position: absolute;
                }
                
                & .main__container--div--card--h3{
                    font-family: Montserrat;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #DC56C5;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                & .main__container--div--card--p{
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: white;
                    padding-bottom: 5px;
                }
                & .main__container--div--card--container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    & .main__container--div--card--container--p1{
                        font-family: Montserrat;
                        font-weight: 600;
                        font-size: 14px;

                        line-height: 100%;
                        letter-spacing: 0%;
                        text-align: center;
                        color: white;
                        padding-left: 3px;
                    }
                }
            }
        }
        & .main__container--div4{
            max-width: 946px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            padding-top: 50px;
            padding-bottom: 80px;

            & .main__container--div--card--photo--img{
                    padding-top: 13px;
                }

            & .main__container--div--card{
                max-width: 196px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;


                & .main__container--div--card--photo--svg{
                    z-index: 1000;
                    padding-left: 41px;
                    position: absolute;
                }
                
                & .main__container--div--card--h3{
                    font-family: Montserrat;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #DC56C5;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                & .main__container--div--card--p{
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: white;
                    padding-bottom: 5px;
                }
                & .main__container--div--card--container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    & .main__container--div--card--container--p1{
                        font-family: Montserrat;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        text-align: center;
                        color: white;
                        padding-left: 3px;
                    }
                }
            }
        }
        & .main__container--nav{
            max-width: 233px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;

            & .main__container--nav-button1{
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 12px;
                padding-right: 12px;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
                border-color: #DC56C5;
                color: #DC56C5;
                background-color: rgba(255, 165, 0, 0);
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                margin-right: 5px;
            }
            & .main__container--nav-button2{
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 12px;
                padding-right: 12px;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
                border-color: #DC56C5;
                color: #DC56C5;
                background-color: rgba(255, 165, 0, 0);
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                margin-right: 5px;
            }& .main__container--nav-button3{
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 12px;
                padding-right: 12px;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
                border-color: #DC56C5;
                color: #DC56C5;
                background-color: rgba(255, 165, 0, 0);
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                margin-right: 5px;
                
            }& .main__container--nav-button4{
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 12px;
                padding-right: 12px;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
                border-color: #DC56C5;
                color: #DC56C5;
                background-color: rgba(255, 165, 0, 0);
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                margin-right: 5px;
                
            }& .main__container--nav-button5{
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 12px;
                padding-right: 12px;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
                border-color: #DC56C5;
                color: #DC56C5;
                background-color: rgba(255, 165, 0, 0);
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                margin-right: 10px;
            }
            & .main__container--nav-button6{
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 12px;
                padding-right: 12px;
                border-bottom-right-radius: 10px;
                border-top-left-radius: 10px;
                border-color: #DC56C5;
                color: #DC56C5;
                background-color: rgba(255, 165, 0, 0);
                font-family: Montserrat;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                margin-left: 10px;
            }

            & .main__container--nav--dot{
                font-family: Montserrat;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                color: white;
            }
        }
    }
}
.footer{
    margin: 0 auto;
    max-width: 521px;
    width: 100%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #939393;
    margin-bottom: 19px;
    margin-top: 80px;
}